<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<footer class="bg-fixed bg-no-repeat bg-cover backdrop-blur-sm" style="background-image: url('../../assets/footer\ 2.jpg');">
    <div class="mx-auto w-full max-w-screen-xl bg-fixed">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Quick Link</h2>
            <ul class="text-white dark:text-white font-medium">
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class=" hover:underline">Home</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">About us</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Meal Plan</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Contact us</a>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Contact Us</h2>
            <ul class="text-white dark:text-white font-medium">
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <i class="uil uil-phone"></i>
                    <a href="#" class="hover:underline">+91(9004686992)</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <i class="uil uil-envelope"></i>
                    <a href="#" class="hover:underline">tiffin@gmail.com</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <i class="uil uil-location-pin-alt"></i>
                    <a href="#" class="hover:underline">A/411,abc bulding,borivali west </a>
                </li>
               
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Delivery Hours</h2>
            <ul class="text-white dark:text-white font-medium">
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Monday : 8AM-10PM</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline"> Tuesday : 8AM-10PM</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline"> Wednesday : 8AM-10PM</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline"> Thursday : 8AM-10PM</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline"> Friday : 8AM-10PM</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline"> Saturday : 8AM-10PM</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline"> Sunday : Closed</a>
                </li>
               
            </ul>
        </div>
        <div>
            <h2 class="mb-6 text-sm font-semibold text-white uppercase dark:text-white">Tiffin Service in Mumbai</h2>
            <ul class="text-white dark:text-white font-medium">
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Borivali</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Dahisar</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Kandivali</a>
                </li>
                <li class="mb-4">
                    <span class="mr-2">&#8226;</span>
                    <a href="#" class="hover:underline">Malad</a>
                </li>
            </ul>
        </div>
    </div>
    
    </div>
</footer>


  
