<!-- src/app/app.component.html -->
<header class="bg-orange-500 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-3xl text-white font-semibold ml-5">Daily Tiffin</a>
    <nav class="space-x-4 mr-4 " >
      <a href="/" class="text-white hover:underline">Home</a>
      <a href="/menu" class="text-white hover:underline">Menu</a>
      <a href="/about" class="text-white hover:underline">About</a>
      <a href="/contact" class="text-white hover:underline">Contact</a>
    </nav>
  </div>
</header>



<!-- src/app/app.component.html -->
<main>
  <!-- Hero Section -->
  <section class="bg-cover bg-center h-96 relative" style="background-image: url('../../assets/hero-section.jpg');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="container mx-auto flex flex-col justify-center items-center h-full relative z-10 text-center">
      <h1 class="text-5xl text-white font-semibold mb-4">Delicious Tiffin Delivered to You</h1>
      <p class="text-xl text-white mb-8">Experience homemade goodness with every meal.</p>
      <a (click)="scrollToMenu()" class="bg-orange-500 text-slate-100 py-3 px-6 rounded-full hover:bg-blue-600 transition duration-300 ease-in-out">Explore Menu</a>
    </div>
  </section>
</main>



