<style>
  @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@700&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;600&family=Rajdhani:wght@300&display=swap');
    </style>
    

<!-- src/app/app.component.html -->
<div class="bg-contain bg-no-repeat bg-left" style="background-image: url('../../assets/bg-2.jpeg');">
  <header class="backdrop-filter py-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-3xl text-gray-800 font-bold ml-5" style="font-family: 'Phudu', cursive;">Daily Tiffin</a>

      <nav class="space-x-4 mr-4">
        <a href="/" class="text-gray-800 hover:underline hover:  text-2xl" style="font-family: 'Phudu', cursive;
        font-family: 'Rajdhani', sans-serif;">Home</a>
        <a href="/menu" class="text-gray-800 hover:underline  text-2xl" style="font-family: 'Phudu', cursive;
        font-family: 'Rajdhani', sans-serif;">Menu</a>
        <a href="/about" class="text-gray-800 hover:underline  text-2xl"  style="font-family: 'Phudu', cursive;
        font-family: 'Rajdhani', sans-serif;">About</a>
        <a href="/contact" class="text-gray-800 hover:underline  text-2xl"  style="font-family: 'Phudu', cursive;
        font-family: 'Rajdhani', sans-serif;">Contact</a>
      </nav>
    </div>
  </header>

  <!-- src/app/app.component.html -->
  <main>
    <!-- Hero Section -->
    <section class="h-screen relative">
      <!-- Set the div to cover the entire screen with responsive dimensions -->
      <div class="w-full h-full flex flex-col justify-center items-center relative z-10 text-center">
        <h1 class="text-7xl text-gray-800 font-semibold mb-4">Delicious Tiffin Delivered to Your Doorsteps</h1>
        <p class="text-xl text-gray-700 mb-8">Experience homemade goodness with every meal.</p>
        <a (click)="scrollToMenu()" class="bg-orange-500 text-slate-100 py-3 px-6 rounded-full hover:bg-orange-600  transition duration-300 ease-in-out">Explore Menu</a>
      </div>
    </section>
  </main>
</div>
