<section class=" py-12 bg-fixed bg-no-repeat bg-cover backdrop-blur-sm" style="background-image: url('../../assets/Contact\ us.jpg');">
    <div class="container mx-auto">
      <div class="text-center mb-8">
        <h2 class="text-3xl text-white font-semibold">Contact Us For Placing order</h2>
      </div>
      <div class="flex flex-col items-center">
        <div class="mb-4">
          <span class="ml-2 text-5xl  text-white font-medium">+91-0123456789|1122334455</span>
        </div>
       
      </div>
    </div>
  </section>
  