

 <!-- !INFO: Hrithik added this component  -->
  <div class="lg:px-20 md:px-6 px-4 py-12">
    <div class="flex flex-col items-center justify-center">
        <h1 class="lg:text-4xl text-3xl font-bold text-center text-yellow-600 ">Hear from our clients</h1>
        <p class="text-base leading-6 mt-4 text-center text-yellow-400   2xl:w-2/5 ">You can also enjoy homemade food now !</p>
    </div>
    <div class="w-full lg:flex items-center gap-6 mt-10">
        <div class="lg:w-1/2">
            <div class=" dark:bg-gray-800  border rounded-md border-gray-200  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>

                <p class="text-base leading-6 text-white  mt-4">Food quality, variety and taste is very good and healthy. i would like to recommend people that if they like tasty hygienic homemade food they can go for this tiffin service . It is simply the best!!! Stay blessed team sunita tiffin services !!!</p>
            </div>
            
        </div>
        <div class="lg:w-1/2 lg:mt-0 mt-16">
            <div class="bg-gray-800  border rounded-md border-gray-200 dark:border-gray-700  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>
                <p class="text-base leading-6 text-white  mt-4">Food quality, variety and taste is very good and healthy. i would like to recommend people that if they like tasty hygienic homemade food they can go for this tiffin service . It is simply the best!!! Stay blessed team sunita tiffin services !!!</p>
            </div>
          
        </div>
        <div class="lg:w-1/2 lg:mt-0 mt-16">
            <div class="bg-gray-800  border rounded-md border-gray-200 dark:border-gray-700  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>
                <p class="text-base leading-6 text-white  mt-4">Food quality, variety and taste is very good and healthy. i would like to recommend people that if they like tasty hygienic homemade food they can go for this tiffin service . It is simply the best!!! Stay blessed team sunita tiffin services !!!</p>
            </div>
            
        </div>
        <div class="lg:w-1/2 lg:mt-0 mt-16">
            <div class="bg-gray-800  border rounded-md border-gray-200 dark:border-gray-700  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>
                <p class="text-base leading-6 text-white  mt-4">Food quality, variety and taste is very good and healthy. i would like to recommend people that if they like tasty hygienic homemade food they can go for this tiffin service . It is simply the best!!! Stay blessed team sunita tiffin services !!!</p>
            </div>
            
        </div>
    </div>
</div>
