<!-- src/app/testimonials/testimonials.component.html
<section class="bg-white py-16">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-semibold mb-8">What Our Customers Say</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
       Testimonial cards go here
      </div>
    </div>
  </section> -->


 <!-- !INFO: Hrithik added this component  -->
  <div class="lg:px-20 md:px-6 px-4 py-12">
    <div class="flex flex-col items-center justify-center">
        <h1 class="lg:text-4xl text-3xl font-bold text-center text-gray-800 ">Hear from our clients</h1>
        <p class="text-base leading-6 mt-4 text-center text-gray-600 2xl:w-2/5 ">Here is why you should trust us with your work achievements</p>
    </div>
    <div class="w-full lg:flex items-center gap-6 mt-10">
        <div class="lg:w-1/2">
            <div class=" dark:bg-gray-800  border rounded-md border-gray-200  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>

                <p class="text-base leading-6 text-white  mt-4">When our designs need an expert opinion or approval, I know I can rely on your agency Thank you for all your help-I will be recommending you to everyone</p>
            </div>
            <div class="flex items-center mt-7">
                <div class="w-12 h-12 border border-indigo-700 rounded-full flex items-center justify-center">
                    <img src="https://i.ibb.co/R6WQhYj/Mask-Group.png" class="w-10 h-10 rounded-full" alt="profile"/>
                </div>
                <div class="flex flex-col items-start ml-4">
                    <p class="text-base font-semibold leading-4 text-gray-800  ">Alisha Cooper</p>
                    <p class="text-base leading-4 mt-2 text-center text-gray-600 ">Developer</p>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 lg:mt-0 mt-16">
            <div class="bg-gray-800  border rounded-md border-gray-200 dark:border-gray-700  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>
                <p class="text-base leading-6 text-white  mt-4">When our designs need an expert opinion or approval, I know I can rely on your agency Thank you for all your help-I will be recommending you to everyone</p>
            </div>
            <div class="flex items-center mt-7">
                <div class="w-12 h-12 border border-indigo-700 rounded-full flex items-center justify-center">
                    <img src="https://i.ibb.co/C6bwf12/Mask-Group.png" class="w-10 h-10 rounded-full" alt="profile"/>
                </div>
                <div class="flex flex-col items-start ml-4">
                    <p class="text-base font-semibold leading-4 text-gray-800 ">Henry Jack</p>
                    <p class="text-base leading-4 mt-2 text-center text-gray-600">UI/UX Designer</p>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 lg:mt-0 mt-16">
            <div class="bg-gray-800  border rounded-md border-gray-200 dark:border-gray-700  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>
                <p class="text-base leading-6 text-white  mt-4">When our designs need an expert opinion or approval, I know I can rely on your agency Thank you for all your help-I will be recommending you to everyone</p>
            </div>
            <div class="flex items-center mt-7">
                <div class="w-12 h-12 border border-indigo-700 rounded-full flex items-center justify-center">
                    <img src="https://i.ibb.co/C6bwf12/Mask-Group.png" class="w-10 h-10 rounded-full" alt="profile"/>
                </div>
                <div class="flex flex-col items-start ml-4">
                    <p class="text-base font-semibold leading-4 text-gray-800 ">Henry Jack</p>
                    <p class="text-base leading-4 mt-2 text-center text-gray-600">UI/UX Designer</p>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 lg:mt-0 mt-16">
            <div class="bg-gray-800  border rounded-md border-gray-200 dark:border-gray-700  relative sm:p-10 p-6">
                <div>
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/testimonials-4-svg1.svg" alt="commas" />
                </div>
                <p class="text-base leading-6 text-white  mt-4">When our designs need an expert opinion or approval, I know I can rely on your agency Thank you for all your help-I will be recommending you to everyone</p>
            </div>
            <div class="flex items-center mt-7">
                <div class="w-12 h-12 border border-indigo-700 rounded-full flex items-center justify-center">
                    <img src="https://i.ibb.co/C6bwf12/Mask-Group.png" class="w-10 h-10 rounded-full" alt="profile"/>
                </div>
                <div class="flex flex-col items-start ml-4">
                    <p class="text-base font-semibold leading-4 text-gray-800 ">Henry Jack</p>
                    <p class="text-base leading-4 mt-2 text-center text-gray-600">UI/UX Designer</p>
                </div>
            </div>
        </div>
    </div>
</div>
