<section id="menu" class="mr-3 ml-3 py-16 bg-black ">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl text-white font-semibold mb-8">Explore Our Delicious Menu</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <!-- Menu items go here -->
        <div class="bg-gray-800 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/Jalebi&fafda.jpg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl text-blue-500 font-semibold mb-2">Jalebi & Fafda</h3>
          <p class="text-white mb-2">Description of Food Item 1.</p>
          <p class="text-blue-500 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/umdhiyu.jpg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">Undhiyu</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/dhokla.jpeg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">Dhokla</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1.</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/veg thali.jpeg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">veg Thali</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1.</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/yum.webp" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">Khamand</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1.</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/Pathra.jpg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">Pathra</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1.</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/Thepla.jpg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">Thepla</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1.</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        <div class="bg-gray-100 p-4 shadow-md rounded-lg transform transition duration-500 hover:scale-110">
          <img src="../../assets/The_Gujarati_Thali.jpg" alt="Food Item 1" class="w-full h-48 object-cover rounded-lg mb-4">
          <h3 class="text-xl font-semibold mb-2">The royal guju Thali</h3>
          <p class="text-gray-700 mb-2">Description of Food Item 1.</p>
          <p class="text-gray-800 font-semibold">₹199</p>
        </div>
        
      </div>
    </div>
  </section>



 
